STATIC_PATH=""
INVENTORY_PATH=""
FFMPEG_PATH=""
ENCRYPTION_KEY=""
SMTP_HOST=""
SMTP_PORT=""
SMTP_USER=""
SMTP_PASS=""
CONTACT_EMAIL=""
CONTACT_PASS=""
ORDERS_EMAIL=""
ORDERS_PASS=""
ENABLE_EMAIL=""
LOG_PATH=""
DB_HOST=""
DB_USERNAME=""
DB_PASSWORD=""
DB_NAME=""
SQL_LOGGING=""
CHROME_PATH=""
WEB_HOST=""
API_HOST=""
